* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --title-font-color: #1E293B;
    --parag-font-color: #475569;
    --primary-color: #7C3AED;
    --placeholder-font-color: #94A3B8;
    --error-message-color: #ED3A5A;
    --input-bg-color: #ffffff;
    --input-border-color: #E2E8F0;
    --bg-color: #F8FAFC;

    font-size: 62.5%;
    font-family: 'Titillium Web', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
    font-size: 1.6rem;

    background: var(--bg-color);
    overflow: overlay;
}

a,
input,
button {
    all: unset;
}

.app {
    display: grid;
    grid-template-columns: 1fr 51%;
}

.col-a {
    margin-left: 11.2rem;
}

header {
    padding: 4rem 0 11.4rem;
}

main {
    max-width: 38.4rem;
    padding-bottom: 20rem;
}
.col-b {
    width: 100%;
    min-height: 100vh;
    background: url(../img/bg-col-b.jpg) no-repeat center/cover;
}